<template>
  <div>
    <ClientOnly>
      <CalculateIndexModal :hash="pipeline?.hash" @push-to-index-job-detail="pushToIndexJobDetail" />

      <div class="container mt-5 detail">
        <div v-if="pipeline">
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom bg-light sticky-top"
          >
            <h3>Model job detail</h3>
            <div class="btn-toolbar justify-content-end mb-2">
              <div class="input-group">
                <NuxtLink
                  :to="'/pipeline_jobs/' + pipeline.ci_pipeline_id"
                  class="btn btn-outline-primary btn-lg"
                >
                  <img
                    src="~bootstrap-icons/icons/arrow-left-square.svg"
                    alt="view icon"
                    width="18"
                    height="18"
                  >
                  Model pipeline overview
                </NuxtLink>
                <button
                  v-if="pipeline.job.includes('process')"
                  class="btn btn-outline-primary btn-lg"
                  @click="calculateIndex()"
                >
                  <img
                    src="~bootstrap-icons/icons/calculator.svg"
                    alt="view icon"
                    width="18"
                    height="18"
                  >
                  Calculate Index
                </button>
              </div>
            </div>
          </div>
          <table class="table table-bordered">
            <tbody>
              <tr v-if="jobId">
                <th>Pipeline id:</th>
                <td><a :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/pipelines/${pipeline.ci_pipeline_id}`">{{ pipeline.ci_pipeline_id }}</a></td>
                <td>
                  <a
                    class="btn btn-outline-primary"
                    role="button"
                    :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/jobs/${jobId}`"
                    target="”_blank”"
                  >
                    <img
                      src="~bootstrap-icons/icons/git.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </a>
                </td>
              </tr>
              <tr v-else-if="jobId != null">
                <th>Pipeline id:</th>
                <td colspan="2">
                  <a :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/pipelines/${pipeline.ci_pipeline_id}`" target="_blank">{{ pipeline.ci_pipeline_id }}</a>
                </td>
              </tr>
              <tr>
                <th>Creation date:</th>
                <td colspan="2">
                  {{ pipeline.created_at }}
                </td>
              </tr>
              <tr>
                <th>Hash:</th>
                <td colspan="2">
                  {{ pipeline.hash }}
                </td>
              </tr>
              <tr>
                <th>id:</th>
                <td colspan="2">
                  {{ pipeline.id }}
                </td>
              </tr>
              <tr>
                <th>job:</th>
                <td colspan="2">
                  {{ pipeline.job }}
                </td>
              </tr>
              <tr>
                <th colspan="3">
                  <h3>Metadata</h3>
                </th>
              </tr>
              <tr>
                <th>CI Job name:</th>
                <td colspan="2">
                  {{ pipeline.metadata.ci_job_name }}
                </td>
              </tr>
              <tr v-if="pipeline.metadata.ci_previous_job_hash === null">
                <th>CI previous Job hash:</th>
                <td v-if="pipeline.metadata.ci_previous_job_hash === null" colspan="2">
                  {{ pipeline.metadata.ci_previous_job_hash }}
                </td>
              </tr>
              <tr v-else>
                <th>CI previous Job hash:</th>
                <td>
                  {{ pipeline.metadata.ci_previous_job_hash }}
                </td>
                <td>
                  <NuxtLink
                    :to="'/jobs/modelJobDetail/' + pipeline.metadata.ci_previous_job_hash"
                    class="btn btn-outline-primary"
                  >
                    <img
                      src="~bootstrap-icons/icons/eye-fill.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </NuxtLink>
                </td>
              </tr>
              <tr>
                <th>Data location:</th>
                <td colspan="2">
                  {{ pipeline.metadata.data_location }}
                </td>
              </tr>
              <tr>
                <th>Hex Sha:</th>
                <td colspan="2">
                  {{ pipeline.metadata.hex_sha }}
                </td>
              </tr>
              <tr>
                <th>Version:</th>
                <td colspan="2">
                  {{ pipeline.metadata.version }}
                </td>
              </tr>
              <tr>
                <th colspan="3">
                  <h3>Inputs</h3>
                </th>
              </tr>
              <tr
                v-for="input in pipeline.metadata.inputs"
                :key="input"
              >
                <td :colspan="pipeline.metadata.ci_previous_job_hash !== null ? '2' : '3'">
                  {{ input }}
                </td>
                <td v-if="pipeline.metadata.ci_previous_job_hash !== null">
                  <NuxtLink
                    class="btn btn-outline-primary"
                    role="button"
                    :to="'/storage/' + pipeline.metadata.ci_previous_job_hash + '/' + input"
                    target="”_blank”"
                  >
                    <img
                      src="~bootstrap-icons/icons/download.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </NuxtLink>
                </td>
              </tr>
              <tr>
                <th colspan="3">
                  <h3>Outputs</h3>
                </th>
              </tr>
              <tr
                v-for="output in pipeline.metadata.outputs"
                :key="output"
              >
                <td colspan="2">
                  {{ output }}
                </td>
                <td>
                  <a
                    class="btn btn-outline-primary"
                    role="button"
                    :href="'/storage/' + pipeline.hash + '/' + output"
                    target="”_blank”"
                  >
                    <img
                      src="~bootstrap-icons/icons/download.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div v-if="indices.length !== 0 && pipeline.job.includes('process')" class="table-responsive">
            <table class="table table-bordered">
              <thead class="table">
                <tr>
                  <th colspan="8">
                    <h3>Climate Index jobs</h3>
                  </th>
                </tr>
                <tr>
                  <th
                    scope="col"
                    role="button"
                    @click="sort('id')"
                  >
                    ID {{ currentSort === 'id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                  </th>
                  <th
                    scope="col"
                    role="button"
                    @click="sort('ci_pipeline_id')"
                  >
                    Pipeline ID {{ currentSort === 'ci_pipeline_id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                  </th>
                  <th
                    scope="col"
                  >
                    Climate Variable
                  </th>
                  <th
                    scope="col"
                  >
                    Climate Training Variable
                  </th>
                  <th
                    scope="col"
                  >
                    Climate Index
                  </th>
                  <th
                    scope="col"
                    role="button"
                    @click="sort('created_at')"
                  >
                    Creation date {{ currentSort === 'created_at' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                  </th>
                  <th
                    scope="col"
                    role="button"
                    @click="sort('job')"
                  >
                    Job {{ currentSort === 'job' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                  </th>
                  <th
                    scope="col"
                  >
                    View
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr
                  v-for="(item, index) in sortedIndices"
                  :key="index"
                >
                  <td>
                    {{ item.id }}
                  </td>
                  <td>
                    {{ item.ci_pipeline_id }}
                  </td>
                  <td>
                    {{ item.metadata.CLIM_VAR }}
                  </td>
                  <td>
                    {{ item.metadata.CLIM_TRAINING_VAR }}
                  </td>
                  <td>
                    {{ item.metadata.CLIMATE_INDEX }}
                  </td>
                  <td>
                    {{ formatDate(item.created_at) }}
                  </td>
                  <td>
                    {{ item.job }}
                  </td>
                  <td>
                    <NuxtLink
                      :to="'/indexJobDetail/' + item.ci_pipeline_id"
                      class="btn btn-outline-secondary btn-sm"
                    >
                      <img
                        src="~bootstrap-icons/icons/eye-fill.svg"
                        alt="view icon"
                        width="18"
                        height="18"
                      >
                    </NuxtLink>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div v-else-if="pipeline.job.includes('process')">
            <div class="alert alert-info" role="alert">
              Non indices calculated for this data!
            </div>
          </div>
        </div>
        <div v-else>
          No data found! Check if the the link is broken.
        </div>
      </div>
    </ClientOnly>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref, computed } from 'vue'
import type { Modal } from 'bootstrap'
import { useRoute } from 'vue-router'
import { toast } from 'vue3-toastify'
import type { Pipeline, sortedKeys } from '@/types'

const { $bootstrap } = useNuxtApp()
const config = useRuntimeConfig()
const route = useRoute()
const router = useRouter()

const pipeline : Ref<Pipeline|null> = ref(null)
const jobId = ref(null)
const indices: Ref<Array<Pipeline>> = ref([])
const currentSort : Ref<sortedKeys> = ref('ci_pipeline_id')
const currentModal: Ref<Modal | null> = ref(null)
const currentSortDir = ref('desc')
await fetchData()
if (pipeline.value !== null && pipeline.value.job.includes('process')) {
  await fetchIndeces()
}
await fetchGitlab()

const sortedIndices = computed(() => {
  return [...indices.value].sort((a, b) => {
    if (currentSortDir.value === 'desc') { return a[currentSort.value] >= b[currentSort.value] ? -1 : 1 } else { return a[currentSort.value] >= b[currentSort.value] ? 1 : -1 }
  })
})

function sort (s: sortedKeys) {
  if (s === currentSort.value) {
    currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
  }
  currentSort.value = s
}

async function fetchData () {
  const response = await useFetch(`/api/job/${route.params.hash}`, {
    lazy: false
  })

  pipeline.value = response.data.value
}

async function fetchIndeces () {
  const { data } = await useFetch('/api/jobs?param1=&param2=&arg=c')
  if (data.value && data.value.constructor === Array) {
    indices.value = data.value.filter((e: { metadata: { ci_previous_job_hash: number | undefined; }; }) => e.metadata.ci_previous_job_hash === pipeline.value?.hash)
  }
}

async function fetchGitlab () {
  try {
    if (pipeline.value !== null) {
      const response = await useFetch(`/api/gitlabjobs/${pipeline.value.ci_pipeline_id}`)
      const jobData = response.data.value

      if (jobData.length > 0) {
        const job = jobData.find((job: any) => job.name === pipeline.value?.job)
        jobId.value = job?.id
      } else {
        toast.error('Gitlab fetch failed\nPlease check enviroment.', {
          autoClose: false
        })
      }
    }
  } catch (e: any) {
    console.log(e)
  }
}

function calculateIndex () {
  const myModal : Modal = new $bootstrap.Modal('#calculateIndexModal', {})
  currentModal.value = myModal
  myModal.show()
}

function pushToIndexJobDetail (id: number) {
  if (currentModal.value !== null) {
    currentModal.value.hide()
    router.push({ path: '/jobs/indexJobDetail/' + id })
  }
}

function formatDate (datestring: string) {
  const date = new Date(datestring)
  return date.toLocaleString('it-IT', {
    dateStyle: 'short',
    timeStyle: 'short',
    timeZone: 'Europe/Rome'
  })
}
</script>
