<template>
  <div
    class="bg-light flex-shrink-0 app"
  >
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm">
      <div class="container-fluid">
        <NuxtLink
          to="/"
          class="navbar-brand ms-3"
        >
          <img
            alt="Michea logo"
            class="logo"
            src="/logo.png"
            width="50"
            height="50"
          >
        </NuxtLink>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon" />
        </button>
        <div
          id="navbarSupportedContent"
          class="collapse navbar-collapse"
        >
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <NuxtLink
                to="/"
                class="nav-link"
              >
                Dashboard
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/jobs/model-jobs"
                class="nav-link"
              >
                Model jobs
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/jobs/climate-indices"
                class="nav-link"
              >
                Index jobs
              </NuxtLink>
            </li>
            <li class="nav-item">
              <NuxtLink
                to="/climate_models/"
                class="nav-link"
              >
                Model Manager
              </NuxtLink>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div>
      <NuxtPage />
    </div>
  </div>
  <footer class="footer mt-auto py-1 bg-primary container-fluid">
    <div class="row">
      <div class="col">
        <span
          id="version_mode"
          class="text-light"
        >michea UI</span>
      </div>
      <div class="col text-end">
        <span class="text-light"><a
          target="_blank"
          href="https://simevo.com"
          class="link-light"
        >simevo s.r.l.</a>
          for ARPA Lombardia
        </span>
      </div>
    </div>
  </footer>
</template>

<style lang="scss">
$primary: #1e7878;
$secondary: #205c90;
@import "bootstrap";
@media (min-width: 1024px) {
  .app {
    min-height: 100vh;
  }
}
</style>
