<template>
  <div class="container mt-5">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4 border-bottom"
    >
      <h3>Model pipeline {{ route.params.ci_pipeline_id }} overview</h3>
    </div>
    <div class="accordion">
      <div
        v-for="(jobs, name, index1) in groupedJobs"
        :key="index1"
        class="accordion-item"
      >
        <h2 :id="'heading' + name" class="accordion-header">
          <button
            class="accordion-button"
            type="button"
            data-bs-toggle="collapse"
            :data-bs-target="'#collapse' + name"
            aria-expanded="true"
            :aria-controls="'collapse' + name"
          >
            {{ name.toLocaleUpperCase() }}
          </button>
        </h2>
        <div :id="'collapse' + name" class="accordion-collapse collapse table-responsive" :class="name === 'process' ? 'show' : ''" :aria-labelledby="'heading' + name">
          <table class="table table-bordered">
            <thead class="table-primary">
              <tr>
                <th
                  scope="col"
                  role="button"
                  @click="sort('id')"
                >
                  ID {{ currentSort === 'id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                </th>
                <th
                  scope="col"
                >
                  Hash
                </th>
                <th
                  scope="col"
                  role="button"
                  @click="sort('created_at')"
                >
                  Creation date {{ currentSort === 'created_at' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                </th>
                <th
                  scope="col"
                  role="button"
                  @click="sort('job')"
                >
                  Job {{ currentSort === 'job' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                </th>
                <th
                  scope="col"
                >
                  View
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in jobs"
                :key="index"
              >
                <td>
                  {{ item.id }}
                </td>
                <td>
                  {{ item.hash }}
                </td>
                <td>
                  {{ formatDate(item.created_at) }}
                </td>
                <td>
                  {{ item.job }}
                </td>
                <td>
                  <NuxtLink
                    :to="'/jobs/modelJobDetail/' + item.hash"
                    class="btn btn-outline-secondary btn-sm"
                  >
                    <img
                      src="~bootstrap-icons/icons/eye-fill.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </NuxtLink>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref, computed } from 'vue'
import { useRoute } from 'vue-router'

import type { Pipeline, sortedKeys } from '@/types'

const route = useRoute()

const pipelines : Ref<Array<Pipeline>> = ref([])
const currentSort : Ref<sortedKeys> = ref('ci_pipeline_id')
const currentSortDir = ref('desc')

await fetchData()

const groupedJobs = computed(() => {
  const groupedJobs = {
    process: [],
    crop: [],
    merge: [],
    download: [],
    wget: []
  }

  pipelines.value.forEach((p) => {
    const job = p.job.slice(0, p.job.indexOf('_'))
    groupedJobs[job].push(p)
  })

  for (const jobtype in groupedJobs) {
    groupedJobs[jobtype].sort((a, b) => {
      if (currentSortDir.value === 'desc') { return a[currentSort.value] >= b[currentSort.value] ? -1 : 1 } else { return a[currentSort.value] >= b[currentSort.value] ? 1 : -1 }
    })
  }
  return groupedJobs
})

function sort (s: sortedKeys) {
  if (s === currentSort.value) {
    currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
  }
  currentSort.value = s
}

function formatDate (datestring: string) {
  const date = new Date(datestring)
  return date.toLocaleString('it-IT', {
    dateStyle: 'short',
    timeStyle: 'short',
    timeZone: 'Europe/Rome'
  })
}

async function fetchData () {
  const { data: pipelineData } = await useFetch(`/api/pipelines_job/${route.params.ci_pipeline_id}`, {
    lazy: false
  })
  pipelines.value = pipelineData.value
}
</script>

<style>
@media (min-width: 1024px) {
.home {
    min-height: 100vh;
}
}

* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 50%;
  padding: 5px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}
</style>
