<template>
  <div id="calculateIndexModal" class="modal modal-lg" tabindex="-1" aria-labelledby="indexModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="createModalLabel" class="modal-title">
            Calculate Climate Index
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label for="climVar" class="form-label">Climate variable</label>
            <input id="climVar" v-model="climVar" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="climTrain" class="form-label">Climate training variable</label>
            <input id="climTrain" v-model="climTrain" type="text" class="form-control">
          </div>
          <div class="mb-3">
            <label for="climIndex" class="form-label">Climate index</label>
            <input id="climIndex" v-model="climIndex" type="text" class="form-control">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" @click="startCalculateIndex">
            Calculate
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import { toast } from 'vue3-toastify'

const climVar = ref('pr')
const climTrain = ref('rr')
const climIndex = ref('R99pTOT')

const props = defineProps({
  hash: {
    type: String,
    default: '511ae775-3087-48aa-bb92-03d97b1c24cb'
  }
})

const emit = defineEmits<{
  pushToIndexJobDetail: [id: number]
}>()

async function startCalculateIndex () {
  const body = {
    hash: props.hash,
    clim_var: climVar.value,
    clim_train: climTrain.value,
    clim_index: climIndex.value
  }

  const { data } = await useFetch('/api/trigger_pipeline',
    {
      method: 'POST',
      body
    })
  if (data.value && data.value.error) {
    toast.error(`${data.value.error}\nPlease check enviroment.`, {
      autoClose: false
    })
    return []
  } else {
    emit('pushToIndexJobDetail', (data.value.id + 1))
  }
}
</script>
