<template>
  <div id="showIndexModal" class="modal modal-lg" tabindex="-1" aria-labelledby="indexModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="createModalLabel" class="modal-title">
            Index Already calculated for this process
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
        </div>
        <div class="modal-body">
          <table class="table table-bordered">
            <thead class="table-primary">
              <tr>
                <th scope="col">
                  ID
                </th>
                <th scope="col">
                  Pipeline ID
                </th>
                <th scope="col">
                  Climate Variable
                </th>
                <th scope="col">
                  Climate Training Variable
                </th>
                <th scope="col">
                  Climate Index
                </th>
                <th scope="col">
                  Creation date
                </th>
                <th scope="col">
                  view
                </th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item, index) in props.indices" :key="index">
                <td>
                  {{ item.id }}
                </td>
                <td>
                  {{ item.ci_pipeline_id }}
                </td>
                <td>
                  {{ item.metadata.CLIM_VAR }}
                </td>
                <td>
                  {{ item.metadata.CLIM_TRAINING_VAR }}
                </td>
                <td>
                  {{ item.metadata.CLIMATE_INDEX }}
                </td>
                <td>
                  {{ formatDate(item.created_at) }}
                </td>
                <td>
                  <button
                    class="btn btn-outline-secondary btn-sm"
                    @click="pushToIndexJobDetail(item.ci_pipeline_id)"
                  >
                    <img
                      src="~bootstrap-icons/icons/eye-fill.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</template>

<script setup lang="ts">
import type { Pipeline } from '@/types'

const props = defineProps({
  indices: {
    type: Array<Pipeline>,
    default: []
  }
})

const emit = defineEmits<{
  pushToIndexJobDetail: [id: number]
}>()

function formatDate (datestring: string) {
  const date = new Date(datestring)
  return date.toLocaleString('it-IT', {
    dateStyle: 'short',
    timeStyle: 'short',
    timeZone: 'Europe/Rome'
  })
}

function pushToIndexJobDetail (id: number) {
  emit('pushToIndexJobDetail', id)
}

</script>
