<template>
  <div class="container mt-5 detail">
    <div v-if="pipeline">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom bg-light sticky-top"
      >
        <h3>Climate index job detail</h3>
      </div>
      <table class="table table-bordered">
        <tbody>
          <tr v-if="jobId">
            <th>Pipeline id:</th>
            <td><a :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/pipelines/${pipeline.ci_pipeline_id}`">{{ pipeline.ci_pipeline_id }}</a></td>
            <td>
              <a
                class="btn btn-outline-primary"
                role="button"
                :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/jobs/${jobId}`"
                target="”_blank”"
              >
                <img
                  src="~bootstrap-icons/icons/git.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
              </a>
            </td>
          </tr>
          <tr v-else-if="jobId != null">
            <th>Pipeline id:</th>
            <td colspan="2">
              <a :href="`${config.public.gitlabUrl}/${config.public.gitlabProject}/-/pipelines/${pipeline.ci_pipeline_id}`" target="_blank">{{ pipeline.ci_pipeline_id }}</a>
            </td>
          </tr>
          <tr>
            <th>Creation date:</th>
            <td colspan="2">
              {{ pipeline.created_at }}
            </td>
          </tr>
          <tr>
            <th>Hash:</th>
            <td colspan="2">
              {{ pipeline.hash }}
            </td>
          </tr>
          <tr>
            <th>id:</th>
            <td colspan="2">
              {{ pipeline.id }}
            </td>
          </tr>
          <tr>
            <th>job:</th>
            <td colspan="2">
              {{ pipeline.job }}
            </td>
          </tr>
          <tr>
            <th colspan="3">
              <h3>Metadata</h3>
            </th>
          </tr>
          <tr v-if="pipeline.metadata.ci_previous_job_hash === null">
            <th>CI previous Job hash:</th>
            <td v-if="pipeline.metadata.ci_previous_job_hash === null" colspan="2">
              {{ pipeline.metadata.ci_previous_job_hash }}
            </td>
          </tr>
          <tr v-else>
            <th>CI previous Job hash:</th>
            <td>
              {{ pipeline.metadata.ci_previous_job_hash }}
            </td>
            <td>
              <NuxtLink
                :to="'/jobs/modelJobDetail/' + pipeline.metadata.ci_previous_job_hash"
                class="btn btn-outline-primary"
              >
                <img
                  src="~bootstrap-icons/icons/eye-fill.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
              </NuxtLink>
            </td>
          </tr>
          <tr>
            <th>Data location:</th>
            <td colspan="2">
              {{ pipeline.metadata.data_location }}
            </td>
          </tr>
          <tr>
            <th>Hex Sha:</th>
            <td colspan="2">
              {{ pipeline.metadata.hex_sha }}
            </td>
          </tr>
          <tr>
            <th>Version:</th>
            <td colspan="2">
              {{ pipeline.metadata.version }}
            </td>
          </tr>
          <tr>
            <th>Climate index:</th>
            <td colspan="2">
              {{ pipeline.metadata.CLIMATE_INDEX }}
            </td>
          </tr>
          <tr>
            <th>Climate training variable:</th>
            <td colspan="2">
              {{ pipeline.metadata.CLIM_TRAINING_VAR }}
            </td>
          </tr>
          <tr>
            <th>Climate variable</th>
            <td colspan="2">
              {{ pipeline.metadata.CLIM_VAR }}
            </td>
          </tr>
          <tr>
            <th colspan="3">
              <h3>Inputs</h3>
            </th>
          </tr>
          <tr
            v-for="input in pipeline.metadata.inputs"
            :key="input"
          >
            <td :colspan="pipeline.metadata.ci_previous_job_hash !== null ? '2' : '3'">
              {{ input }}
            </td>
            <td v-if="pipeline.metadata.ci_previous_job_hash !== null">
              <NuxtLink
                class="btn btn-outline-primary"
                role="button"
                :to="'/storage/' + pipeline.metadata.ci_previous_job_hash + '/' + input"
                target="”_blank”"
              >
                <img
                  src="~bootstrap-icons/icons/download.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
              </NuxtLink>
            </td>
          </tr>
        </tbody>
      </table>
      <h3>Outputs:</h3>
      <table class="table table-bordered">
        <tbody>
          <tr
            v-for="output in outputs.datasets"
            :key="output"
          >
            <td class="col-11">
              {{ output }}
            </td>
            <td class="col-1">
              <a
                class="btn btn-outline-primary"
                role="button"
                :href="'/storage/' + pipeline.hash + '/' + output"
                target="”_blank”"
              >
                <img
                  src="~bootstrap-icons/icons/download.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
              </a>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="row">
        <div
          v-for="output in outputs.images"
          :key="output"
          class="col-6 mb-3"
        >
          <img
            class="fit-picture"
            :src="'/storage/' + pipeline.hash + '/' + output"
            :alt="pipeline.hash + '/' + output"
            width="640"
            height="480"
          >
        </div>
      </div>
    </div>
    <div v-else>
      No data found! If you started a calculate index job please wait for the pipeline to finish then reload this page, else the link is broken.
    </div>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref, computed } from 'vue'
import { useRoute } from 'vue-router'
import { toast } from 'vue3-toastify'
import type { Pipeline } from '@/types'

const config = useRuntimeConfig()
const route = useRoute()

const pipeline : Ref<Pipeline|null> = ref(null)
const jobId = ref(null)
await fetchData()
await fetchGitlab()

async function fetchData () {
  const response = await useFetch(`/api/climate_index/${route.params.ci_pipeline_id}`, {
    lazy: false
  })
  pipeline.value = response.data.value
}

async function fetchGitlab () {
  try {
    const response = await useFetch(`/api/gitlabjobs/${pipeline.value?.ci_pipeline_id}`, {
      watch: [pipeline]
    })
    const jobData = response.data.value

    if (jobData.length > 0) {
      const job = jobData.find((job: any) => job.name === pipeline.value?.job)
      jobId.value = job?.id
    } else if (pipeline.value) {
      toast.error('Gitlab fetch failed\nPlease check enviroment.', {
        autoClose: false
      })
    }
  } catch (e: any) {
    console.log(e)
  }
}

const outputs = computed(() => {
  const images: string[] = []
  const datasets: string[] = []
  if (pipeline.value !== null) {
    const outputs = pipeline.value.metadata.outputs as string[]
    outputs.forEach((o) => {
      if (o.includes('.png')) {
        images.push(o)
      } else if (o.includes('.nc')) {
        datasets.push(o)
      }
    })
  }
  return { images, datasets }
})

</script>
