<template>
  <div>
    <div id="createModal" class="modal modal-xl" tabindex="-1" aria-labelledby="createModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 id="createModalLabel" class="modal-title">
              Add Model
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" @click="closeModal()" />
          </div>
          <div class="modal-body">
            <div v-if="!fetching">
              <div v-if="!overwrite">
                <div class="mb-3">
                  <ul class="nav nav-tabs justify-content-center">
                    <li class="nav-item col">
                      <a class="nav-link" role="button" :class="selectedproject === 'cordex' ? 'active' : ''" aria-current="page" @click="selectedproject = 'cordex'">CORDEX</a>
                    </li>
                    <li class="nav-item col">
                      <a class="nav-link" role="button" :class="selectedproject === 'cordexadjust' ? 'active' : ''" aria-current="page" @click="selectedproject = 'cordexadjust'">CORDEX-adjust</a>
                    </li>
                  </ul>
                </div>
                <div class="input-group mb-3">
                  <input
                    v-model="pastedModel"
                    type="text"
                    class="form-control"
                    style="width: 50%;"
                    placeholder="output.EUR-11.CLMcom.ICHEC-EC-EARTH.r12i1p1.CCLM4-8-17.v1.day.pr"
                    aria-label="output.EUR-11.CLMcom.ICHEC-EC-EARTH.r12i1p1.CCLM4-8-17.v1.day.pr"
                    aria-describedby="button-addon"
                  >
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    :disabled="pastedModel.length == 0"
                    @click="paste()"
                  >
                    <img
                      src="~bootstrap-icons/icons/clipboard-data.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                    Paste model
                  </button>
                </div>
                <div v-if="selectedproject === 'cordex'">
                  <div class="input-group mb-3">
                    <span id="span-label-product" class="input-group-text">Product *</span>
                    <input
                      v-model="fields.cordex.product"
                      type="text"
                      class="form-control"
                      placeholder="output"
                      aria-label="Product"
                      aria-describedby="span-label-product"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-domain" class="input-group-text">Domain *</span>
                    <input
                      v-model="fields.cordex.domain"
                      type="text"
                      class="form-control"
                      placeholder="EUR-11"
                      aria-label="Domain"
                      aria-describedby="span-label-domain"
                    >
                    <span id="span-label-institute" class="input-group-text">Institute *</span>
                    <input
                      v-model="fields.cordex.institute"
                      type="text"
                      class="form-control"
                      placeholder="CLMcom"
                      aria-label="Institute"
                      aria-describedby="span-label-institute"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-driving-model" class="input-group-text">Driving Model *</span>
                    <input
                      v-model="fields.cordex.driving_model"
                      type="text"
                      class="form-control"
                      placeholder="ICHEC-EC-EARTH"
                      aria-label="Driving Model"
                      aria-describedby="span-label-driving-model"
                    >
                    <span id="span-label-Ensemble" class="input-group-text">Ensemble *</span>
                    <input
                      v-model="fields.cordex.ensemble"
                      type="text"
                      class="form-control"
                      placeholder="r12i1p1"
                      aria-label="ensemble"
                      aria-describedby="span-label-ensemble"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-rcm-name" class="input-group-text">Rcm Name *</span>
                    <input
                      v-model="fields.cordex.rcm_name"
                      type="text"
                      class="form-control"
                      placeholder="CCLM4-8-17"
                      aria-label="Rcm Name"
                      aria-describedby="span-label-rcm-name"
                    >
                    <span id="span-label-rcm-version" class="input-group-text">Rcm Version *</span>
                    <input
                      v-model="fields.cordex.rcm_version"
                      type="text"
                      class="form-control"
                      placeholder="v1"
                      aria-label="rcm-version"
                      aria-describedby="span-label-rcm-version"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-time-frequency" class="input-group-text">Time Frequency *</span>
                    <input
                      v-model="fields.cordex.time_frequency"
                      type="text"
                      class="form-control"
                      placeholder="day"
                      aria-label="Time Frequency"
                      aria-describedby="span-label-time-frequency"
                    >
                    <span id="span-label-variable" class="input-group-text">Variable *</span>
                    <input
                      v-model="fields.cordex.variable"
                      type="text"
                      class="form-control"
                      placeholder="pr or tas"
                      aria-label="variable"
                      aria-describedby="span-label-variable"
                    >
                  </div>
                </div>
                <div v-if="selectedproject === 'cordexadjust'">
                  <div class="input-group mb-3">
                    <span id="span-label-product" class="input-group-text">Product *</span>
                    <input
                      v-model="fields.cordexadjust.product"
                      type="text"
                      class="form-control"
                      placeholder="bias-adjusted-output"
                      aria-label="Product"
                      aria-describedby="span-label-product"
                    >
                    <span id="span-label-domain" class="input-group-text">Domain *</span>
                    <input
                      v-model="fields.cordexadjust.domain"
                      type="text"
                      class="form-control"
                      placeholder="EUR-11"
                      aria-label="Domain"
                      aria-describedby="span-label-domain"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-institute" class="input-group-text">Institute *</span>
                    <input
                      v-model="fields.cordexadjust.institute"
                      type="text"
                      class="form-control"
                      placeholder="CLMcom"
                      aria-label="Institute"
                      aria-describedby="span-label-institute"
                    >
                    <span id="span-label-Ensemble" class="input-group-text">Ensemble *</span>
                    <input
                      v-model="fields.cordexadjust.ensemble"
                      type="text"
                      class="form-control"
                      placeholder="r12i1p1"
                      aria-label="ensemble"
                      aria-describedby="span-label-ensemble"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-driving-model" class="input-group-text">Driving Model *</span>
                    <input
                      v-model="fields.cordexadjust.driving_model"
                      type="text"
                      class="form-control"
                      placeholder="ICHEC-EC-EARTH"
                      aria-label="Driving Model"
                      aria-describedby="span-label-driving-model"
                    >
                    <span id="span-label-rcm-name" class="input-group-text">Rcm Name *</span>
                    <input
                      v-model="fields.cordexadjust.rcm_name"
                      type="text"
                      class="form-control"
                      placeholder="CCLM4-8-17"
                      aria-label="Rcm Name"
                      aria-describedby="span-label-rcm-name"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-time-frequency" class="input-group-text">Time Frequency *</span>
                    <input
                      v-model="fields.cordexadjust.time_frequency"
                      type="text"
                      class="form-control"
                      placeholder="day"
                      aria-label="Time Frequency"
                      aria-describedby="span-label-time-frequency"
                    >
                    <span id="span-label-variable" class="input-group-text">Variable *</span>
                    <input
                      v-model="fields.cordexadjust.variable"
                      type="text"
                      class="form-control"
                      placeholder="prAdjust"
                      aria-label="variable"
                      aria-describedby="span-label-variable"
                    >
                  </div>
                  <div class="input-group mb-3">
                    <span id="span-label-variable" class="input-group-text">Bias Adjustment *</span>
                    <input
                      v-model="fields.cordexadjust.bias_adjustment"
                      type="text"
                      class="form-control"
                      placeholder="v1-LSCE-IPSL-CDFt-EOBS10-1971-2005"
                      aria-label="bias_adjustment"
                      aria-describedby="span-label-bias_adjustment"
                    >
                  </div>
                </div>
                <div class="input-group col-6 mb-3" role="group" aria-label="Basic checkbox toggle button group">
                  <span id="basic-addon1" class="input-group-text">Scenarios</span>
                  <input
                    class="form-control col-1"
                    :class="foundscenarios.find(e => e === 'historical') !== undefined ? 'is-valid' :
                      missingscenarios.find(e => e === 'historical') !== undefined ? 'is-invalid' : ''"
                    value="Historical"
                    disabled
                  >
                  <input
                    class="form-control col-1"
                    :class="foundscenarios.find(e => e === 'rcp26') !== undefined ? 'is-valid' :
                      missingscenarios.find(e => e === 'rcp26') !== undefined ? 'is-invalid' : ''"
                    value="Rcp26"
                    disabled
                  >
                  <input
                    class="form-control col-1"
                    :class="foundscenarios.find(e => e === 'rcp45') !== undefined ? 'is-valid' :
                      missingscenarios.find(e => e === 'rcp45') !== undefined ? 'is-invalid' : ''"
                    value="Rcp45"
                    disabled
                  >
                  <input
                    class="form-control col-1"
                    :class="foundscenarios.find(e => e === 'rcp85') !== undefined ? 'is-valid' :
                      missingscenarios.find(e => e === 'rcp85') !== undefined ? 'is-invalid' : ''"
                    value="Rcp85"
                    disabled
                  >
                </div>
                <div class="row mb-3">
                  <div class="form-check form-switch d-flex justify-content-end ">
                    <input id="flexSwitchCheckChecked" v-model="deleteDownload" class="form-check-input" type="checkbox">
                    <label class="form-check-label ms-2" for="flexSwitchCheckChecked">Delete download data</label>
                  </div>
                </div>
                <div v-if="searching">
                  <div v-if="filesSelected.length > 0">
                    <h5>Selected scenarios:</h5>
                    <ul>
                      <li v-for="fs in filesSelected" :key="fs.indexNode">
                        {{ fs.id }}
                      </li>
                    </ul>
                  </div>
                  <div v-if="foundindex < foundscenarios.length">
                    <div>
                      <h3>{{ foundscenarios[foundindex] }}</h3>
                    </div>
                    <div>
                      <table class="table">
                        <tbody>
                          <tr
                            v-for="file, index in esgfsearch[foundscenarios[foundindex]]"
                            :key="index"
                          >
                            <td>
                              {{ file.id }}
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-outline-primary"
                                @click="selectFile(file)"
                              >
                                <img
                                  src="~bootstrap-icons/icons/plus-square.svg"
                                  alt="view icon"
                                  width="18"
                                  height="18"
                                >
                              </button>
                            </td>
                          </tr>
                          <tr v-if="foundscenarios[foundindex] !== 'historical'">
                            <td>
                              Skip scenario
                            </td>
                            <td>
                              <button
                                type="button"
                                class="btn btn-outline-primary"
                                @click="skipScenario(foundscenarios[foundindex])"
                              >
                                <img
                                  src="~bootstrap-icons/icons/plus-square.svg"
                                  alt="view icon"
                                  width="18"
                                  height="18"
                                >
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                  <div v-else-if="addable" class="d-flex justify-content-end">
                    <button type="button" class="btn btn-primary" :disabled="fetching" @click="createModel">
                      <img
                        src="~bootstrap-icons/icons/plus-square.svg"
                        alt="view icon"
                        width="18"
                        height="18"
                      >
                      Add
                    </button>
                  </div>
                </div>
              </div>
              <div
                v-if="overwrite"
                class="alert alert-warning"
                role="alert"
              >
                <div class="row d-flex justify-content-between">
                  <div class="col-10">
                    <span>
                      An identical model has already been processed, do you want to proceed with reprocessing?
                    </span>
                  </div>
                  <div class="col input-group">
                    <button type="button" class="btn btn-primary" @click="incrementVersion()">
                      Yes
                    </button>
                    <button type="button" class="btn btn-secondary" @click="clearFields()">
                      No
                    </button>
                  </div>
                </div>
              </div>
              <div
                v-if="created"
                class="alert alert-success mt-3"
                role="alert"
              >
                Model saved!
              </div>
            </div>
            <div v-else class="d-flex justify-content-center">
              <div class="spinner-border text-success" role="status" />
            </div>
          </div>
          <div v-if="!overwrite" class="modal-footer">
            <div class="input-group d-flex justify-content-end">
              <button type="button" class="btn btn-outline-danger" @click="clearFields()">
                <img
                  src="~bootstrap-icons/icons/trash.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
                Clear
              </button>
              <button
                type="button"
                class="btn btn-primary"
                :disabled="fetching || searchble[selectedproject]"
                @click="searchfiles"
              >
                <img
                  src="~bootstrap-icons/icons/search.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
                Search
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap pb-2 mb-4 border-bottom"
      >
        <div class="row">
          <div class="col-4">
            <h3>Model Manager</h3>
          </div>
          <div class="col-8">
            <div class="btn-toolbar">
              <ClientOnly>
                <div class="input-group">
                  <select v-model="selectedBranch" class="form-select" aria-label="Default select example">
                    <option v-for="branch in branches" :key="branch" :value="branch">
                      {{ branch }}
                    </option>
                  </select>
                  <button
                    type="button"
                    class="btn btn-outline-primary"
                    data-bs-toggle="modal"
                    data-bs-target="#createModal"
                    :disabled="fetchError"
                  >
                    <img
                      src="~bootstrap-icons/icons/plus-square.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                    Add Model
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-success"
                    :disabled="commit.actions.length === 0 || pushing || fetchError"
                    @click="push()"
                  >
                    <img
                      src="~bootstrap-icons/icons/upload.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                    Save Changes
                  </button>
                  <span class="input-group-text" style="background-color: rgba(128, 128, 128, 0.271);">{{ commit.actions.length }}</span>
                  <input
                    class="form-control"
                    :class="pipelinesIsRunning ? 'is-invalid' : 'is-valid'"
                    :value="pipelinesIsRunning ? 'Push is not recomended' : 'You can push safely'"
                    data-toggle="tooltip"
                    data-placement="top"
                    :title="pipelinesIsRunning ? 'Pipelines are running' : 'No pipelines running'"
                    disabled
                  >
                </div>
              </ClientOnly>
            </div>
          </div>
        </div>
      </div>
      <div v-if="debug" class="alert alert-warning" role="alert">
        Warning! Debug Mode: matching with ESGF disabled
      </div>
      <div v-if="ready" class="row">
        <ClientOnly>
          <table class="table table-bordered">
            <thead class="table-primary">
              <tr>
                <th
                  scope="col"
                  role="button"
                  @click="sort('id')"
                >
                  ID {{ currentSort === 'id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                </th>
                <th
                  scope="col"
                >
                  Parameters
                </th>
                <th
                  scope="col"
                >
                  Scenarios
                </th>
                <th
                  scope="col"
                >
                  Version
                </th>
                <th
                  scope="col"
                  role="button"
                  @click="sort('created_at')"
                >
                  Creation date {{ currentSort === 'created_at' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
                </th>
                <th
                  scope="col"
                >
                  Delete
                </th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="(item, index) in sortedModels"
                :key="index"
              >
                <td :style="item.state === 1 ? 'background-color: rgba(127, 255, 212, 0.2);' : item.state === 2 ? 'background-color: rgba(210, 20, 20, 0.2);' : ''">
                  {{ item.id }}
                </td>
                <td :style="item.state === 1 ? 'background-color: rgba(127, 255, 212, 0.2);' : item.state === 2 ? 'background-color: rgba(210, 20, 20, 0.2);' : ''">
                  {{ item.search_filters }}
                </td>
                <td :style="item.state === 1 ? 'background-color: rgba(127, 255, 212, 0.2);' : item.state === 2 ? 'background-color: rgba(210, 20, 20, 0.2);' : ''">
                  {{ item.scenarios.scenarios }}
                </td>
                <td :style="item.state === 1 ? 'background-color: rgba(127, 255, 212, 0.2);' : item.state === 2 ? 'background-color: rgba(210, 20, 20, 0.2);' : ''">
                  {{ item.version }}
                </td>
                <td :style="item.state === 1 ? 'background-color: rgba(127, 255, 212, 0.2);' : item.state === 2 ? 'background-color: rgba(210, 20, 20, 0.2);' : ''">
                  {{ item.created_at !== null ? formatDate(item.created_at) : '-' }}
                </td>
                <td
                  v-if="item.state === 2"
                  style="background-color: rgba(210, 20, 20, 0.2);"
                >
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    @click="undoDelete(item.id)"
                  >
                    <img
                      src="~bootstrap-icons/icons/arrow-counterclockwise.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                </td>
                <td
                  v-else-if="item.state === 1"
                  style="background-color: rgba(127, 255, 212, 0.2);"
                >
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="fetchError"
                    @click="undoCreate(item.id)"
                  >
                    <img
                      src="~bootstrap-icons/icons/arrow-counterclockwise.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                </td>
                <td
                  v-else
                >
                  <button
                    type="button"
                    class="btn btn-outline-danger"
                    :disabled="fetchError"
                    @click="deleteModel(item.id)"
                  >
                    <img
                      src="~bootstrap-icons/icons/trash.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="form-check form-switch mt-3">
            <input id="flexCheckDefault" v-model="showYaml" class="form-check-input" type="checkbox">
            <label class="form-check-label" for="flexCheckDefault">
              Show preview of last added model
            </label>
          </div>
          <div v-if="showYaml" class="mt-1">
            <textarea
              id=""
              v-model="yamltextdebug"
              disabled
              name="yaml"
              class="form-control"
              style="height: 400px;"
            />
          </div>
        </ClientOnly>
      </div>
      <p v-else>
        There are no models yet.
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import * as YAML from 'yaml'
import { type Ref, ref, computed, watch } from 'vue'
import { toast } from 'vue3-toastify'
import type { modelKeys, foundfile, commitgit } from '@/types'

interface Dictionary<T> {
    [Key: string]: T | Dictionary<T> | Array<Dictionary<T>> | Array<T>;
}

const models = ref({
  historical: true,
  rcp26: true,
  rcp45: true,
  rcp85: true
})

const showYaml = ref(false)
const countfetch = ref(0)
const missingscenarios: Ref<string[]> = ref([])
const foundscenarios: Ref<string[]> = ref([])
const foundindex = ref(0)
const filedict: Ref<foundfile> = ref({})
const climateModels : Ref<Array<any>> = ref([])
const currentSort : Ref<string> = ref('climate_models')
const currentSortDir = ref('asc')
const modelname = ref('')
const debug = ref(false)
const ready = ref(false)
const pushing = ref(false)
const fetching = ref(false)
const searching = ref(false)
const addable = ref(false)
const created = ref(false)
const overwrite = ref(false)
const deleteDownload = ref(false)
const duplicateVersion = ref(0)
const commit: Ref<commitgit> = ref({
  branch: '',
  commit_message: 'Pipeline push',
  actions: []
})
const yamltextdebug = ref('')
const selectedproject = ref('cordex')
const fields: Ref<{[key: string]: Dictionary<string>}> = ref({
  cordex: {
    project: 'CORDEX',
    product: '',
    domain: '',
    institute: '',
    driving_model: '',
    ensemble: '',
    rcm_name: '',
    rcm_version: '',
    time_frequency: '',
    variable: ''
  },
  cordexadjust: {
    project: 'CORDEX-Adjust',
    product: '',
    domain: '',
    institute: '',
    driving_model: '',
    ensemble: '',
    rcm_name: '',
    time_frequency: '',
    variable: '',
    bias_adjustment: ''
  }
})
const filesSelected = ref([])
const esgfsearch: Dictionary<string> = ref({})
const branches = ref([])
const pipelinesIsRunning = ref(false)
const selectedBranch = ref('main')
const pastedModel = ref('')
const fetchError = ref(true)
await fetchData()

watch(() => countfetch.value, (newValue) => {
  if (newValue > foundscenarios.value.length - 1) {
    if (missingscenarios.value.length < foundscenarios.value.length || debug) {
      const yamltext = createyaml()
      yamltextdebug.value = yamltext
      const model: {[key: string]: string} = {}
      let filename = ''
      for (const field in fields.value[selectedproject.value]) {
        model[field] = fields.value[selectedproject.value][field]
        if (field !== 'project') {
          filename += fields.value[selectedproject.value][field] + '.'
        }
      }
      const ymlversion = overwrite.value ? (duplicateVersion.value + 1) + '.' : ''
      commit.value.actions.push({
        action: 'create',
        file_path: filename + ymlversion + 'yml',
        content: yamltext
      })
      climateModels.value.push({
        created_at: null,
        search_filters: model,
        filename: filename + ymlversion + 'yml',
        id: null,
        scenarios: { scenarios: foundscenarios.value },
        state: 1,
        version: duplicateVersion.value + 1
      })
      created.value = true
      modelname.value = ''
      duplicateVersion.value = 0
      overwrite.value = false
    }
    fetching.value = false
  }
})

watch(() => selectedproject.value, () => {
  searching.value = false
  foundindex.value = 0
  esgfsearch.value = {}
  missingscenarios.value = []
  foundscenarios.value = []
  filesSelected.value = []
})

watch(() => foundindex.value, () => {
  addable.value = false
  if (foundindex.value === filesSelected.value.length && foundindex.value !== 0) {
    addable.value = true
  }
})

watch(() => foundscenarios.value, () => {
  foundscenarios.value.sort()
  console.log(foundscenarios.value)
}, { deep: true })

const sortedModels = computed(() => {
  return [...climateModels.value].sort((a, b) => {
    if (currentSortDir.value === 'desc') { return a[currentSort.value] >= b[currentSort.value] ? -1 : 1 } else { return a[currentSort.value] >= b[currentSort.value] ? 1 : -1 }
  })
})

const searchble = computed(() => {
  let cordex = false
  for (const field in fields.value.cordex) {
    if (fields.value.cordex[field] === '') {
      cordex = true
    }
  }
  let cordexadjust = false
  for (const field in fields.value.cordexadjust) {
    if (fields.value.cordexadjust[field] === '') {
      cordexadjust = true
    }
  }

  return { cordex, cordexadjust }
})

const dataModels = computed(() => {
  const dataModels = []
  for (const model in models.value) {
    if (models.value[model]) {
      dataModels.push(model)
    }
  }
  return dataModels
})

function compareModels () {
  let foundVersion = 0
  climateModels.value.forEach((m) => {
    let nfields = 0
    const nkeys = Object.keys(m.search_filters).length
    for (const field in m.search_filters) {
      if (m.search_filters[field] === fields.value[selectedproject.value][field]) {
        nfields += 1
      }
    }
    if (nfields === nkeys) {
      foundVersion = m.version
    }
  })
  return foundVersion
}

function clearFields () {
  for (const field in fields.value[selectedproject.value]) {
    if (field !== 'project') {
      fields.value[selectedproject.value][field] = ''
    }
  }
  overwrite.value = false
  searching.value = false
  foundindex.value = 0
  esgfsearch.value = {}
  missingscenarios.value = []
  foundscenarios.value = []
  filesSelected.value = []
}

function incrementVersion () {
  fetching.value = true
  createfiledict()
}

function skipScenario (scenario: string) {
  const index = foundscenarios.value.indexOf(scenario)
  if (index > -1) {
    foundscenarios.value.splice(index, 1)
  }
}

function selectFile (file) {
  foundindex.value += 1
  filesSelected.value.push(file)
}

function sort (s: modelKeys) {
  if (s === currentSort.value) {
    currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
  }
  currentSort.value = s
}

function formatDate (datestring: string) {
  const date = new Date(datestring)
  return date.toLocaleString('it-IT', {
    dateStyle: 'short',
    timeStyle: 'short',
    timeZone: 'Europe/Rome'
  })
}

function createyaml () {
  const json: Dictionary<string | boolean> = {
    include: '.gitlab-ci-common.yml'
  }

  foundscenarios.value.forEach((d: string) => {
    if (filedict.value[d].allfiles !== '') {
      let keys = ''
      let params = ''

      for (const field in fields.value[selectedproject.value]) {
        if (field === 'ensemble') {
          keys += 'experiment '
          params += d + ' '
        }
        keys += field + ' '
        params += fields.value[selectedproject.value][field] + ' '
      }

      const wgetjob: Dictionary<string | boolean> = {
        extends: '.wget_job',
        variables: {
          KEYS: `${keys}`,
          FIELDS: `${params}`
        }
      }
      if (overwrite.value) {
        wgetjob.variables.VERSION = duplicateVersion.value + 1
      }
      if (d !== 'historical' && foundscenarios.value.find(e => e === 'historical') !== undefined) {
        wgetjob.needs = [
          {
            job: 'merge_historical',
            artifacts: false
          }
        ]
      }
      json['wget_' + d] = wgetjob
    }
  })

  foundscenarios.value.forEach((d) => {
    if (filedict.value[d].allfiles !== '') {
      const downloadJob = {
        extends: '.download_job',
        variables: {
          OUTPUTS: `${filedict.value[d].allfiles}`
        },
        needs: [
          `wget_${d}`
        ]
      }
      if (overwrite.value) {
        downloadJob.variables.VERSION = duplicateVersion.value + 1
      }

      json['download_' + d] = downloadJob
    }
  })

  foundscenarios.value.forEach((d) => {
    if (filedict.value[d].allfiles !== '') {
      const cropjob = {
        extends: '.crop_job',
        variables: {
          INPUTS: `${filedict.value[d].allfiles}`,
          OUTPUTS: `${filedict.value[d].croppedfiles}`
        },
        needs: [
          `download_${d}`
        ]
      }

      if (overwrite.value) {
        cropjob.variables.VERSION = duplicateVersion.value + 1
      }

      json['crop_' + d] = cropjob
    }
  })

  foundscenarios.value.forEach((d) => {
    if (filedict.value[d].allfiles !== '') {
      const mergejob = {
        extends: '.merge_job',
        variables: {
          INPUTS: `${filedict.value[d].croppedfiles}`
        },
        needs: [
          `crop_${d}`
        ]
      }

      let output = filedict.value[d].croppedfiles.substring(0, filedict.value[d].croppedfiles.indexOf(' '))
      output = output.substring(0, output.indexOf('day') + 3) + '_merge.nc'

      mergejob.variables.OUTPUTS = output

      if (overwrite.value) {
        mergejob.variables.VERSION = duplicateVersion.value + 1
      }

      json['merge_' + d] = mergejob
    }
  })

  foundscenarios.value.forEach((d) => {
    if (d !== 'historical' && selectedproject.value !== 'cordexadjust') {
      if (filedict.value[d].allfiles !== '') {
        const processjob: { [key: string]: string | Array<string | boolean> } = {
          extends: '.process_job',
          variables: {
            INPUTS_HISTORICAL_DATASET: json.merge_historical.variables.OUTPUTS,
            INPUTS_DATASET: json['merge_' + d].variables.OUTPUTS
          },
          needs: [
            `merge_${d}`
          ]
        }

        if (d === 'rcp45' && foundscenarios.value.find(e => e === 'rcp26') !== undefined) {
          processjob.needs.push({
            job: 'process_rcp26',
            artifacts: false
          })
        }
        if (d === 'rcp85' && foundscenarios.value.find(e => e === 'rcp45') !== undefined) {
          processjob.needs.push({
            job: 'process_rcp45',
            artifacts: false
          })
        } else if (d === 'rcp85' && foundscenarios.value.find(e => e === 'rcp26') !== undefined) {
          processjob.needs.push({
            job: 'process_rcp26',
            artifacts: false
          })
        }

        if (fields.value.cordex.variable === 'pr') {
          processjob.variables.TRAINING_DATASET = 'file_utili/ARCIS_GG_1961-2015_LOMB.nc'
          processjob.variables.TRAINING_DATASET_DICT = 'file_utili/dic_pr_arcis.dic'
          processjob.variables.DATASET_DICT = 'file_utili/dic_pr_NBA.dic'
          processjob.variables.YTRAI_START = 1961
          processjob.variables.YTRAI_END = 2005
          processjob.variables.YPROJ_START = 2020
          processjob.variables.YPROJ_END = 2060
        } else if (fields.value.cordex.variable === 'tas') {
          processjob.variables.YTRAI_START = 1995
          processjob.variables.YTRAI_END = 2005
          processjob.variables.YPROJ_START = 2016
          processjob.variables.YPROJ_END = 2020
          processjob.variables.TRAINING_DATASET = 'file_utili/era5-downscaled-over-italy-VHR-REA_IT_1989_2020_daily_tas_LOMB_remap2.nc'
          processjob.variables.TRAINING_DATASET_DICT = 'file_utili/dic_tas_era5.dic'
          processjob.variables.DATASET_DICT = 'file_utili/dic_tas_dataset.dic'
        }

        if (overwrite.value) {
          processjob.variables.VERSION = duplicateVersion.value + 1
        }

        json['process_' + d] = processjob
      }
    }
  })

  if (deleteDownload.value) {
    const cleanup: { [key: string]: string | Array<string | boolean> } = {
      extends: '.clean_up_job',
      needs: []
    }
    let index = 0
    foundscenarios.value.forEach((d: string) => {
      if (d !== 'historical') {
        if (index === foundscenarios.value.length - 1) {
          cleanup.needs.push(`process_${d}`)
        }
      }
      index += 1
    })

    json.clean_up = cleanup
  }

  return YAML.stringify(json, { lineWidth: 120, directives: true })
}

async function searchfiles () {
  foundindex.value = 0
  esgfsearch.value = {}
  missingscenarios.value = JSON.parse(JSON.stringify(dataModels.value))
  foundscenarios.value = []
  filesSelected.value = []
  await dataModels.value.forEach(async (d: string) => {
    let searchstring = ''
    for (const field in fields.value[selectedproject.value]) {
      if (fields.value[selectedproject.value][field] !== '') {
        searchstring += field + '=' + fields.value[selectedproject.value][field] + '&'
      }
    }
    searchstring += 'experiment=' + d
    esgfsearch.value[d] = []
    const files = await fetchEsgfSearch(searchstring)
    if (files?.length !== 0 && files) {
      files?.forEach((file) => {
        esgfsearch.value[d].push(file)
      })
      missingscenarios.value.splice(missingscenarios.value.indexOf(d), 1)
      foundscenarios.value.push(d)
    }
  })
  searching.value = true
  created.value = false
}

async function createfiledict () {
  searching.value = false
  filedict.value = {}
  countfetch.value = 0

  await foundscenarios.value.forEach(async (d: string) => {
    filedict.value[d] = {
      allfiles: '',
      croppedfiles: ''
    }

    const file = filesSelected.value.find(e => e.id.includes(d))
    const files = await fetchEsgf(file)
    if (files !== null) {
      filedict.value[d].allfiles = ''
      filedict.value[d].croppedfiles = ''
      await files.forEach((f) => {
        // console.log(f)
        filedict.value[d].allfiles += f + ' '
        filedict.value[d].croppedfiles += f.replace('.nc', '_crop.nc') + ' '
      })
    }

    countfetch.value += 1
  })
  return filedict
}

function createGitlabCi () {
  const json: Dictionary<string> = {}
  json['.rules'] = {
    rules: [
      {
        if: "$RUN != 'calculate_index_job' && $RUN != 'clean_up_job' && $CI_DEFAULT_BRANCH == $CI_COMMIT_BRANCH",
        when: 'on_success'
      },
      {
        if: '$CI_MERGE_REQUEST_ID',
        when: 'never'
      },
      {
        when: 'never'
      }
    ]
  }
  climateModels.value.forEach((model) => {
    if (model.state !== 2) {
      json[`trigger_${model.filename.replace('.yml', '')}`] = {
        extends: '.rules',
        trigger: {
          include: [{
            local: `${model.filename}`
          }]
        }
      }
    }
  })
  json.trigger_clean_up_job = {
    rules: [
      {
        if: '$RUN == "clean_up_job"',
        when: 'on_success'
      },
      {
        when: 'never'
      }
    ],
    variables:
    {
      CURL_CI_PIPELINE_ID: '$CURL_CI_PIPELINE_ID'
    },
    trigger: {
      include: [
        {
          local: 'clean_up.yml'
        }
      ]
    }
  }
  json.trigger_index = {
    rules: [
      {
        if: '$RUN == "calculate_index_job"',
        when: 'on_success'
      },
      {
        when: 'never'
      }
    ],
    variables: {
      EXECUTED_JOB_HASH: '$EXECUTED_JOB_HASH',
      CLIM_VAR: '$CLIM_VAR',
      CLIM_TRAINING_VAR: '$CLIM_TRAINING_VAR',
      CLIMATE_INDEX: '$CLIMATE_INDEX'
    },
    trigger: {
      include: [
        {
          local: 'calculate_index.yml'
        }
      ]
    }
  }
  return YAML.stringify(json, { lineWidth: 120, directives: true })
}

function deleteModel (modelid: number) {
  climateModels.value.find(e => e.id === modelid).state = 2
  commit.value.actions.push({
    action: 'delete',
    file_path: climateModels.value.find(e => e.id === modelid).filename
  })
}

function undoDelete (modelid: number) {
  const model = climateModels.value.find(e => e.id === modelid)
  model.state = 0
  const deleteCommit = commit.value.actions.find(e => e.file_path === model.filename && e.action === 'delete')
  if (deleteCommit) {
    const actionIndex = commit.value.actions.indexOf(deleteCommit)
    commit.value.actions.splice(actionIndex, 1)
  }
}

function undoCreate (modelid: number) {
  const model = climateModels.value.find(e => e.id === modelid)
  const modelIndex = climateModels.value.indexOf(model)
  climateModels.value.splice(modelIndex, 1)
  const createCommit = commit.value.actions.find(e => e.file_path === model.filename && e.action === 'create')
  if (createCommit) {
    const actionIndex = commit.value.actions.indexOf(createCommit)
    commit.value.actions.splice(actionIndex, 1)
  }
}

function createModel () {
  addable.value = false
  created.value = false
  overwrite.value = false
  duplicateVersion.value = compareModels()
  if (duplicateVersion.value === 0) {
    fetching.value = true
    createfiledict()
  } else {
    overwrite.value = true
  }
}

function closeModal () {
  created.value = false
  overwrite.value = false
}

async function push () {
  pushing.value = true
  const gitlabci = createGitlabCi()
  commit.value.actions.push({
    action: 'update',
    file_path: '.gitlab-ci.yml',
    content: gitlabci
  })
  commit.value.branch = selectedBranch.value
  const body = { database: climateModels.value.filter(c => c.state !== 0), gitlab: commit.value }

  const { data } = await useFetch('/api/climate_models',
    {
      method: 'POST',
      body: JSON.stringify(body)
    })
  if (data.value.error) {
    toast.error(`${data.value.error}\nPlease check enviroment or branch rules.`, {
      autoClose: false
    })
    fetchError.value = true
  } else {
    toast.success('Model correctly pushed!', {
      autoClose: 3000
    })
  }

  commit.value.actions = []
  fetchData()
  pushing.value = false
}

async function fetchData () {
  fetchError.value = false
  try {
    const { data } = await useFetch('/api/climate_models')
    if (!data.value.error) {
      data.value.forEach((e: any) => {
        e.state = 0
      })
      climateModels.value = data.value
    } else {
      toast.error(`${data.value.error}\n\nPlease check enviroment.`, {
        autoClose: false
      })
    }

    const rawbranches = await fetchGitlabBranches()
    rawbranches.forEach((branch: { name: any; }) => {
      branches.value.push(branch.name)
    })

    const pipelines = await fetchGitlabPipelines()
    pipelines.forEach((p: { status: string; }) => {
      if (p.status === 'running') {
        pipelinesIsRunning.value = true
      }
    })

    ready.value = true
  } catch (e: any) {
    console.log(e)
  }
}

async function fetchEsgfSearch (exp: string) {
  const { data } = await useFetch(`/api/esgf_search/${exp}`, {
    lazy: false
  })
  return data.value
}

async function fetchEsgf (file) {
  const { data } = await useFetch(`/api/esgf_files?id=${file.id}&indexNode=${file.indexNode}`, {
    lazy: false
  })
  return data.value
}

async function fetchGitlabBranches () {
  const { data } = await useFetch('/api/gitlabbranches', {
    lazy: false
  })
  if (data.value.error) {
    toast.error(`${data.value.error}\nPlease check enviroment.`, {
      autoClose: false
    })
    fetchError.value = true
    return []
  }
  return data.value
}

async function fetchGitlabPipelines () {
  const { data } = await useFetch('/api/gitlabpipelines', {
    lazy: false
  })
  if (data.value.error) {
    toast.error(`${data.value.error}\nPlease check enviroment.`, {
      autoClose: false
    })
    fetchError.value = true
    return []
  }
  return data.value
}

function paste () {
  const text = pastedModel.value
  const pastedFields = [fields.value[selectedproject.value].project].concat(text.split('.'))
  if (pastedFields.length === 10) {
    let counter = 0
    for (const field in fields.value[selectedproject.value]) {
      fields.value[selectedproject.value][field] = pastedFields[counter]
      counter += 1
    }
    pastedModel.value = ''
  } else {
    alert('Wrong number of fields')
  }
}
</script>
