<template>
  <div>
    <ClientOnly>
      <ShowIndexModal :indices="indices[inspectedHash]" @push-to-index-job-detail="pushToIndexJobDetail" />
      <CalculateIndexModal :hash="hash" @push-to-index-job-detail="pushToIndexJobDetail" />
    </ClientOnly>
    <div id="dataSetsModal" class="modal modal-lg" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">
              All Downloaded Datasets
            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" />
          </div>
          <div class="modal-body">
            <div id="accordion" class="accordion">
              <div v-for="data_model, name, index in datasets[modalindex]" :key="index" class="accordion-item">
                <h2 :id="'heading' + name" class="accordion-header">
                  <button
                    class="accordion-button"
                    type="button"
                    data-bs-toggle="collapse"
                    :data-bs-target="'#collapse' + name"
                    aria-expanded="true"
                    :aria-controls="'collapse' + name"
                  >
                    {{ name }}
                  </button>
                </h2>
                <div :id="'collapse' + name" class="accordion-collapse collapse table-responsive" :aria-labelledby="'heading' + name">
                  <div class="accordion-body">
                    <table class="table table-striped">
                      <tbody>
                        <tr v-for="item in data_model" :key="item">
                          <td>{{ item }}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-5">
      <div
        class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mb-4 border-bottom bg-light sticky-top"
      >
        <h3>Dashboard</h3>
        <div class="btn-toolbar d-flex justify-content-end">
          <div class="form-check form-switch">
            <input
              id="switchShowAll"
              v-model="switchShowAll"
              class="form-check-input"
              type="checkbox"
            >
            <label
              class="form-check-label"
              for="switchShowAll"
            >Show interrupted pipelines</label>
          </div>
        </div>
      </div>
      <div v-if="ready" class="row">
        <div
          v-for="(item, index) in sortedPipelines"
          :key="index"
          class="card col-3 mx-3 my-3"
          style="width: 25rem"
        >
          <div class="card-body">
            <div class="card-title">
              <div class="row d-flex justify-content-between">
                <div class="col-10">
                  <h5>Pipeline ID: {{ item.ci_pipeline_id }}</h5>
                </div>
                <div class="col-2">
                  <NuxtLink
                    :to="'/pipeline_jobs/' + item.ci_pipeline_id"
                    class="btn btn-outline-secondary btn-sm"
                  >
                    <img
                      src="~bootstrap-icons/icons/eye-fill.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </NuxtLink>
                </div>
              </div>
              <div class="row d-flex justify-content-between">
                <div class="col-10">
                  <h6 class="card-subtitle my-2 text-muted">
                    {{ item.downloadFile }}
                  </h6>
                </div>
                <div class="col-2">
                  <button
                    class="btn btn-outline-info btn-sm mt-2"
                    data-bs-toggle="modal"
                    data-bs-target="#dataSetsModal"
                    @click="modalindex = item.ci_pipeline_id"
                  >
                    <img
                      src="~bootstrap-icons/icons/three-dots-vertical.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                  <button
                    class="btn btn-outline-danger btn-sm mt-2"
                    @click="triggerCleanUpJob(item.ci_pipeline_id)"
                  >
                    <img
                      src="~bootstrap-icons/icons/trash2-fill.svg"
                      alt="view icon"
                      width="18"
                      height="18"
                    >
                  </button>
                </div>
              </div>
            </div>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Data Models:</th>
                  <th>
                    Download Dataset
                  </th>
                  <th>
                    Calculate Climate Index
                  </th>
                  <th>
                    Indices Already Calculated
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="data_model in item.data_models" :key="data_model">
                  <td>{{ data_model }}</td>
                  <td v-if="item.bias_adjusted_datasets !== null && item.bias_adjusted_datasets[data_model]">
                    <a
                      class="btn btn-outline-primary ms-3"
                      role="button"
                      :href="
                        '/storage/' +
                          item.bias_adjusted_datasets[data_model].hash +
                          '/' +
                          item.bias_adjusted_datasets[data_model].outputs[0]
                      "
                      target="”_blank”"
                    >
                      <img
                        src="~bootstrap-icons/icons/download.svg"
                        alt="view icon"
                        width="18"
                        height="18"
                      >
                    </a>
                  </td>
                  <td v-else>
                    -
                  </td>
                  <td v-if="item.bias_adjusted_datasets !== null && item.bias_adjusted_datasets[data_model]">
                    <button
                      class="btn btn-outline-primary ms-3"
                      role="button"
                      @click="calculateIndex(item.bias_adjusted_datasets[data_model].hash)"
                    >
                      <img
                        src="~bootstrap-icons/icons/calculator.svg"
                        alt="view icon"
                        width="18"
                        height="18"
                      >
                    </button>
                  </td>
                  <td v-else>
                    -
                  </td>
                  <td v-if="item.bias_adjusted_datasets !== null && item.bias_adjusted_datasets[data_model] && indices[item.bias_adjusted_datasets[data_model].hash]">
                    <button
                      class="btn btn-outline-primary ms-3"
                      role="button"
                      @click="showIndex(item.bias_adjusted_datasets[data_model].hash)"
                    >
                      <img
                        src="~bootstrap-icons/icons/archive-fill.svg"
                        alt="view icon"
                        width="18"
                        height="18"
                      >
                    </button>
                  </td>
                  <td v-else>
                    -
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <p v-else>
        There are no models yet.
      </p>
    </div>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref, watch, computed } from 'vue'
import type { Modal } from 'bootstrap'
import { toast } from 'vue3-toastify'
import type { PipelineOv, Pipeline } from '@/types'

const router = useRouter()

const { $bootstrap } = useNuxtApp()
const pipelines : Ref<Array<PipelineOv>> = ref([])
const indices: Ref<{[key: string]: Array<Pipeline> }> = ref({})
const ready = ref(false)
const switchShowAll = ref(false)
const jobfilter = ref('')
const rcpfilter = ref('')
const modalindex = ref(0)
const currentSortDir = ref('desc')
const hash = ref('')
const inspectedHash = ref('')
const currentModal: Ref<Modal | null> = ref(null)
await fetchData()

watch(() => [jobfilter.value, rcpfilter.value], async () => {
  await fetchData()
})

const sortedPipelines = computed(() => {
  return [...pipelines.value].filter(e => switchShowAll.value ? true : e.downloaded_datasets !== null).sort((a, b) => {
    if (currentSortDir.value === 'desc') {
      return a.ci_pipeline_id >= b.ci_pipeline_id ? -1 : 1
    } else {
      return a.ci_pipeline_id >= b.ci_pipeline_id ? 1 : -1
    }
  })
})

const datasets = computed(() => {
  const datasets: {[key: string]: Object} = {}
  pipelines.value.forEach((e) => {
    const pipelineDataset: {[key: string]: string} = {}
    for (const dataModel in e.downloaded_datasets) {
      pipelineDataset[dataModel] = e.downloaded_datasets[dataModel].outputs
    }
    datasets[e.ci_pipeline_id] = pipelineDataset
  })
  return datasets
})

function calculateIndex (dataModelHash: string) {
  hash.value = dataModelHash
  const myModal : Modal = new $bootstrap.Modal('#calculateIndexModal', {})
  currentModal.value = myModal
  myModal.show()
}

function showIndex (dataModelHash: string) {
  inspectedHash.value = dataModelHash
  const myModal : Modal = new $bootstrap.Modal('#showIndexModal', {})
  currentModal.value = myModal
  myModal.show()
}

function pushToIndexJobDetail (id: number) {
  if (currentModal.value !== null) {
    currentModal.value.hide()
    router.push({ path: '/jobs/indexJobDetail/' + id })
  }
}

async function fetchData () {
  try {
    const { data } = await useFetch('/api/pipelines_overview')
    if (data.value && !data.value.error) {
      pipelines.value = data.value.filter((e: { data_models: string[]; }) => e.data_models[0] !== 'index')
      pipelines.value.forEach((e) => {
        if (e.downloaded_datasets !== null) {
          const keys = Object.keys(e.downloaded_datasets)
          let downloadFile = e.downloaded_datasets[keys[0]].outputs[0]
          keys.forEach((k) => {
            if (downloadFile.includes(k)) {
              downloadFile = downloadFile.replace(k, '{data_model}')
              downloadFile = downloadFile.slice(0, downloadFile.indexOf('day') + 4) + '[...].nc'
            }
          })
          e.downloadFile = downloadFile
        } else {
          e.downloadFile = ''
        }
      })
      ready.value = true
    } else {
      toast.error(`${data.value.error}\n\nPlease check enviroment.`, {
        autoClose: false
      })
    }
  } catch (e: any) {
    console.log(e)
  }
  try {
    const { data } = await useFetch('/api/jobs?param1=&param2=&arg=c')
    if (data.value && !data.value.error) {
      data.value.forEach((e: Pipeline) => {
        if (typeof e.metadata.ci_previous_job_hash === 'string') {
          if (!indices.value[e.metadata.ci_previous_job_hash]) {
            indices.value[e.metadata.ci_previous_job_hash] = []
          }
          indices.value[e.metadata.ci_previous_job_hash].push(e)
        }
      })
    } else {
      toast.error(`${data.value.error}\n\nPlease check enviroment.`, {
        autoClose: false
      })
    }
  } catch (e: any) {
    console.log(e)
  }
}

async function triggerCleanUpJob (ciPipelineId: Number) {
  const body = {
    ci_pipeline_id: ciPipelineId
  }
  const { data } = await useFetch('/api/trigger_cleanup',
    {
      method: 'POST',
      body
    })
  if (data.value && data.value.error) {
    toast.error(`${data.value.error}\nPlease check enviroment.`, {
      autoClose: false
    })
    return []
  } else {
    toast.success(`Deleting download data from pipeline: ${ciPipelineId}!`, {
      autoClose: 3000
    })
    return data
  }
}
</script>

<style>
@media (min-width: 1024px) {
  .home {
    min-height: 100vh;
  }
}
</style>
