<template>
  <div class="container mt-5">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-4 border-bottom"
    >
      <template v-if="pipelinesmode">
        <h3>Model jobs</h3>
      </template>
      <template v-else>
        <h3>Climate index jobs</h3>
      </template>
      <div v-if="pipelinesmode" class="btn-toolbar mb-2 mb-md-0">
        <div class="input-group mb-3">
          <label
            class="input-group-text"
            for="inputGroupSelect01"
          >Rcp </label>
          <select
            id="inputGroupSelect01"
            v-model="param2"
            class="form-select"
          >
            <option
              disabled
              value=""
            >
              -
            </option>
            <option value="">
              all
            </option>
            <option value="rcp26">
              rcp26
            </option>
            <option value="rcp45">
              rcp45
            </option>
            <option value="rcp85">
              rcp85
            </option>
            <option value="historical">
              historical
            </option>
          </select>
          <label
            class="input-group-text"
            for="inputGroupSelect02"
          >Job </label>
          <select
            id="inputGroupSelect01"
            v-model="param1"
            class="form-select"
          >
            <option
              disabled
              value=""
            >
              -
            </option>
            <option value="">
              all
            </option>
            <option value="download">
              download
            </option>
            <option value="crop">
              crop
            </option>
            <option value="process">
              process
            </option>
            <option value="merge">
              merge
            </option>
            <option value="wget">
              wget
            </option>
          </select>
        </div>
      </div>
      <div v-else class="btn-toolbar mb-2 mb-md-0">
        <div class="input-group mb-3">
          <label
            class="input-group-text"
            for="inputGroupSelect01"
          >Variable </label>
          <select
            id="inputGroupSelect01"
            v-model="param1"
            class="form-select"
          >
            <option
              disabled
              value=""
            >
              -
            </option>
            <option value="">
              All
            </option>
            <option value="pr">
              pr
            </option>
          </select>
          <label
            class="input-group-text"
            for="inputGroupSelect02"
          >Index </label>
          <select
            id="inputGroupSelect01"
            v-model="param2"
            class="form-select"
          >
            <option
              disabled
              value=""
            >
              -
            </option>
            <option value="">
              all
            </option>
            <option value="R99pTOT">
              R99pTOT
            </option>
          </select>
        </div>
      </div>
    </div>
    <div v-if="ready" class="table-responsive">
      <table class="table table-bordered">
        <thead class="table-primary">
          <tr>
            <th
              scope="col"
              role="button"
              @click="sort('id')"
            >
              ID {{ currentSort === 'id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
            </th>
            <th
              scope="col"
              role="button"
              @click="sort('ci_pipeline_id')"
            >
              Pipeline ID {{ currentSort === 'ci_pipeline_id' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
            </th>
            <th
              v-if="pipelinesmode"
              scope="col"
            >
              Hash
            </th>
            <th
              v-if="!pipelinesmode"
              scope="col"
            >
              Climate Variable
            </th>
            <th
              v-if="!pipelinesmode"
              scope="col"
            >
              Climate Training Variable
            </th>
            <th
              v-if="!pipelinesmode"
              scope="col"
            >
              Climate Index
            </th>
            <th
              scope="col"
              role="button"
              @click="sort('created_at')"
            >
              Creation date {{ currentSort === 'created_at' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
            </th>
            <th
              scope="col"
              role="button"
              @click="sort('job')"
            >
              Job {{ currentSort === 'job' ? currentSortDir === 'asc' ? '▲' : '▼' : ' ' }}
            </th>
            <th
              scope="col"
            >
              View
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            v-for="(item, index) in sortedPipelines"
            :key="index"
          >
            <td>
              {{ item.id }}
            </td>
            <td>
              {{ item.ci_pipeline_id }}
            </td>
            <td v-if="pipelinesmode">
              {{ item.hash }}
            </td>
            <td v-if="!pipelinesmode">
              {{ item.metadata.CLIM_VAR }}
            </td>
            <td v-if="!pipelinesmode">
              {{ item.metadata.CLIM_TRAINING_VAR }}
            </td>
            <td v-if="!pipelinesmode">
              {{ item.metadata.CLIMATE_INDEX }}
            </td>
            <td>
              {{ formatDate(item.created_at) }}
            </td>
            <td>
              {{ item.job }}
            </td>
            <td>
              <NuxtLink
                :to="pipelinesmode ? '/jobs/modelJobDetail/' + item.hash : '/jobs/indexJobDetail/' + item.ci_pipeline_id"
                class="btn btn-outline-secondary btn-sm"
              >
                <img
                  src="~bootstrap-icons/icons/eye-fill.svg"
                  alt="view icon"
                  width="18"
                  height="18"
                >
              </NuxtLink>
            </td>
          </tr>
        </tbody>
      </table>
      <!--<div class="fixed-table-pagination">
        <div class="float-right pagination">
           <ul class="pagination">
            <li
              class="page-item page-pre"
              :class="{ disabled: current_page === 0 }"
            >
              <a
                class="page-link"
                aria-label="previous page"
                href="javascript:void(0)"
                @click="goto(current_page - 1)"
                >‹</a
              >
            </li>
            <li
              v-for="page in pages"
              :key="page"
              class="page-item"
              :class="{ active: current_page === page }"
            >
              <a
                class="page-link"
                :aria-label="'vai alla pagina ' + (page + 1)"
                href="javascript:void(0)"
                @click="goto(page)"
                >{{ page + 1 }}</a
              >
            </li>
            <li
              class="page-item page-next"
              :class="{ disabled: current_page === total_pages - 1 }"
            >
              <a
                class="page-link"
                aria-label="next page"
                href="javascript:void(0)"
                @click="goto(current_page + 1)"
                >›</a
              >
            </li>
          </ul>
        </div>
      </div> -->
    </div>
    <p v-else>
      There are no jobs yet.
    </p>
  </div>
</template>

<script setup lang="ts">
import { type Ref, ref, watch, computed } from 'vue'
import { toast } from 'vue3-toastify'
import type { Pipeline, sortedKeys } from '@/types'

const pipelines : Ref<Array<Pipeline>> = ref([])
const param1 = ref('')
const param2 = ref('')
const currentSort : Ref<sortedKeys> = ref('ci_pipeline_id')
const currentSortDir = ref('desc')
const pipelinesmode = ref(true)
const ready = ref(false)
const route = useRoute()

await fetchData()

watch(() => [param1.value, param2.value], async () => {
  await fetchData()
})

const sortedPipelines = computed(() => {
  return [...pipelines.value].sort((a, b) => {
    if (currentSortDir.value === 'desc') { return a[currentSort.value] >= b[currentSort.value] ? -1 : 1 } else { return a[currentSort.value] >= b[currentSort.value] ? 1 : -1 }
  })
})

function sort (s: sortedKeys) {
  if (s === currentSort.value) {
    currentSortDir.value = currentSortDir.value === 'asc' ? 'desc' : 'asc'
  }
  currentSort.value = s
}

function formatDate (datestring: string) {
  const date = new Date(datestring)
  return date.toLocaleString('it-IT', {
    dateStyle: 'short',
    timeStyle: 'short',
    timeZone: 'Europe/Rome'
  })
}

async function fetchData () {
  ready.value = false
  try {
    if (route.params.jobtype === 'model-jobs') {
      const { data } = await useFetch(`/api/jobs?param1=${param1.value}&param2=${param2.value}&arg=p`)
      if (data.value && !data.value.error) {
        pipelines.value = data.value.filter((e: Pipeline) => e.job !== 'calculate_index')
        pipelinesmode.value = true
        ready.value = true
      } else {
        toast.error(`${data.value.error}\n\nPlease check enviroment.`, {
          autoClose: false
        })
      }
    } else if (route.params.jobtype === 'climate-indices') {
      const { data } = await useFetch(`/api/jobs?param1=${param1.value}&param2=${param2.value}&arg=c`)
      if (data.value && !data.value.error) {
        pipelines.value = data.value.filter((e: Pipeline) => e.job === 'calculate_index')
        pipelinesmode.value = false
        ready.value = true
      } else {
        toast.error(`${data.value.error}\n\nPlease check enviroment.`, {
          autoClose: false
        })
      }
    } else {
      ready.value = false
    }
  } catch (e: any) {
    ready.value = false
    console.log(e)
  }
}
</script>

<style>
@media (min-width: 1024px) {
  .home {
    min-height: 100vh;
  }
}
</style>
